# Default owner (entire repository)
* @Abega1642

# CI / Automation
.github/ @Abega1642

# Security & governance files
security.md @Abega1642
code_of_conduct.md @Abega1642
contributing.md @Abega1642
licence
.github/dependabot.yml @Abega1642

ar-infra.spec @Abega1642
ar-infra-cli-banner.png @Abega1642
ar-infra-logo.png @Abega1642
Makefile @Abega1642
src/ @Abega1642 @Abega1642
scripts/ @Abega1642 @Abega1642
tests/ @Abega1642
